SongList {
  background-color: gray;
  width: 100%;
}

song {
  color: yellowgreen;
  font-size: 40px;
  background-color: powderblue;
}

artist {
  font-size: 25px;
  font-weight: bold;
  display: block;
}

title,
genre,
year {
  font-size: 15px;
  display: block;
  font-family: sans-serif;
}
